  body{
  margin: 0px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 25% ) ;
    grid-template-rows: repeat(6, [row] auto  );
    width: 100%;
  }

  .box {
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
  }

@media screen and (min-width: 601px) {

  logo {
    grid-column: col ;
    grid-row: row ;
    
  }


  header {
    grid-column: col 2 / span 3 ;
    grid-row: row ;
  }


  nav {
    grid-column: col /span 4;
    grid-row: row 2 ;
    width: 100%;
  }


  main {
    grid-column: col 1 / span 4 ;
    grid-row: row 3 ;
    width: 100%;
  }



  footer {
    grid-column: col / span 4;
    grid-row: row 4;
    width: 100%;
  }

}

  @media only screen and (max-width: 600px) {
    
    logo {
    grid-column: col /span 4;
    grid-row: row ;
  }


  header {
    grid-column: col 2 / span 3 ;
    grid-row: row ;
  }


  nav {
    grid-column: col /span 4;
    grid-row: row 3 ;
    width: 100%;
  }


  main {
    grid-column: col  / span 4 ;
    grid-row: row 4 ;
    width: 100%;
  }



  footer {
    grid-column: col 1 / span 4;
    grid-row: row 6;
    width: 100%;
  }
  }